.maneuver-table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  table-layout: fixed;
  border: 2px solid;
  height: 100%;
}

.maneuver-row {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.maneuver-cell {
  text-align: center;
  vertical-align: bottom;
}

.bordered-cell {
  border: 2px solid black;
}

.bearing-cell {
  font-size: 1em;
  -webkit-text-stroke: 1px black;
  background-color: #cbcbcb;
}

.bearing-cell-white {
  color: #ffffff;
}

.bearing-cell-green {
  color: #00c800;
}

.bearing-cell-red {
  color: #c80000;
}

.speed-cell {
  min-width: 55px;
  background: #2e2d3b;
  color: #fcfcfb;
  font-size: 1.25em;
}
