.maneuver-table {
  width: 100%;
  max-width: 16em;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid;
}

.maneuver-row {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.maneuver-cell {
  font-size: 1em;
  text-align: center;
  vertical-align: bottom;
}

.bordered-cell {
  border: 2px solid black;
}

.bordered-maneuver-cell {
  border: 1px solid;
}

.bearing-cell {
  -webkit-text-stroke: 1px black;
  background-color: #cbcbcb;
}

.white-bearing-cell {
  color: #ffffff;
}

.green-bearing-cell {
  color: #00c800;
}

.red-bearing-cell {
  color: #c80000;
}

.speed-cell {
  background: #2e2d3b;
  color: #fcfcfb;
  font-size: 1.25em;
}
