.statline {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* overflow: hidden; */
}

.stat {
  font-size: 1em;
  -webkit-text-stroke: 0.5px black;
}

.agility-stat {
  color: #41a320;
}

.attack-stat {
  color: #ff000a;
}

.hull-stat {
  color: #ffa513;
}
.shield-stat {
  color: #00ffc2;
}
