.statline {
  display: flex;
}

.statline-horizontal {
  justify-content: space-between;
}

.statline-vertical {
  flex-direction: column;
  justify-content: space-between;
}

.stat {
  font-size: 1em;
  width: 2em;
  -webkit-text-stroke: 0.5px black;
}

.stat-agility {
  color: #41a320;
}

.stat-attack {
  color: #ff000a;
}

.stat-hull {
  color: #ffa513;
}
.stat-shield {
  color: #00ffc2;
}
