.statline {
  display: flex;
}

.horizontal-statline {
  justify-content: space-between;
}

.vertical-statline {
  flex-direction: column;
  justify-content: space-between;
}

.stat {
  font-size: 1em;
  -webkit-text-stroke: 0.5px black;
}

.agility-stat {
  color: #41a320;
}

.attack-stat {
  color: #ff000a;
}

.hull-stat {
  color: #ffa513;
}
.shield-stat {
  color: #00ffc2;
}
