.upgradebox {
  width: 100%;
  height: 100%;
  min-height: 6em;

  position: relative;

  background-color: #c4c4c4;
  border-radius: 10px;
}

.upgrade-bar {
  width: 100%;
  height: 25%;

  position: absolute;
  bottom: 0;

  background-color: #4f4e4e;
  border-radius: 0 0 10px 10px;
}

.upgrade-bar-slots {
  height: 100%;

  margin-left: 2%;
  overflow-y: auto;

  display: flex;
  align-items: center;
}

.upgrade-list {
  width: 100%;
  height: 75%;

  position: absolute;
  top: 0;

  margin-right: 2%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade-list-element {
  width: 95%;

  margin-top: 2%;

  background-color: #4f4e4e;
  border-radius: 10px;
}

.upgrade-list-element-text {
  height: 2em;

  padding-left: 2%;
  padding-right: 2%;

  display: flex;
  align-items: center;
}

.upgrade-name {
  padding-left: 1%;
  font-size: 0.8em;

  font-family: "GothicBank";
}

.upgrade-icon {
  margin: 1%;

  background-color: #ffffff;
  border-radius: 100%;
}

.upgrade-bar-slots .upgrade-icon {
  color: #c4c4c4;
}
