@font-face {
  font-family: GothicBank;
  src: url("../../fonts/bank-gothic-md-bt.ttf");
}

.namebar {
  height: 100%;
  width: 100%;

  background-color: darkgray;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  -wbcli: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.namebar-text {
  width: 90%;

  font-family: GothicBank;
  font-size: 90%;
  text-align: center;
}
