.side-button {
  padding-left: 10px;
}

.maneuver-card {
  background: #240c0c;
  border: 1px solid;
  bottom: 0px;
  clear: both;
  display: table;
  height: 40%;
  left: 0px;
  position: fixed;
  table-layout: fixed;
  width: 100%;
}

.maneuver-row {
  display: table-row;
  content: "";
  clear: both;
}

.square {
  float: left;
  display: table-cell;
  border: 1px #4c4c4c;
  font-size: 32px;
  height: 44px;
  width: 27px;
  text-align: center;
}

.square:after {
}

.square:focus {
  /*  */
  // outline: none;
}

.empty-square {
  @extend .square;
}

.speed-square {
  @extend .square;
  font-size: auto;
  color: #fcfcfb;
  background: #2e2d3b;
}

.maneuver-square {
  @extend .square;
  background: #cbcbcb;
}

.xwing-font {
  font-family: Xwing;
  font-style: normal;
  -webkit-text-stroke: 1px black;
  color: #fcfcfb;
  font-size: 75%;
}

.white-maneuvers-font {
  @extend .xwing-font;
  color: #fcfcfb;
}

.red-maneuvers-font {
  @extend .xwing-font;
  color: #f5171d;
}

.green-maneuvers-font {
  @extend .xwing-font;
  color: #7eda24;
}

.main {
  display: flex;
  flex-direction: column;
}
