.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #2E2D3B;
  border: 1px solid #D9E8ED;
  float: left;
  font-size: 24px;
  height: 34px;
  line-height: 44px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 26px;
}

.square:focus {
  /*  */
  outline: none;
}

.xwing-font {
  font-family: Xwing;
  font-style: normal;
  color: #FCFCFB;
  font-size: 1em;
}

.white-manuevers-font {
  @extend .xwing-font;
  color: #FCFCFB;
}

.red-manuevers-font {
  @extend .xwing-font;
  color: #F5171D;
}

.green-manuevers-font {
  @extend .xwing-font;
  color: #7EDA24;
}


