body {
  margin: 0;
  padding: 0;
}

.ship {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ship-action-bar {
  font-size: 30px;
  margin: auto;
  width: 50%;
}

.ship-maneuver-card {
  font-size: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ship-statline {
  font-size: 30px;
  align-self: flex-end;
  width: 75%;
}
