body {
  margin: 0;
  padding: 0;
}

.ship {
  margin-top: 2%;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
}

.ship-left {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  width: 18%;
  float: left;
}

.ship-icon {
  font-size: 64px;
}
.ship-statline {
  height: 60%;
  font-size: 24px;
}
.ship-right {
  float: right;
  margin-right: 2%;
}

.ship-action-bar {
  float: right;
  font-size: 36px;
}

.ship-maneuver-card {
  height: 40%;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
